.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  padding: 8px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.user-details {
  flex-grow: 1;
}

.delete-button,
.update-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover,
.update-button:hover {
  background-color: #c82333;
}
